html,
body {
  margin: 0;
  font-family: sans-serif;
}

main {
  overflow-x: hidden;
  display: flex;
}

h1 {
  margin: 0;
  padding: 0;
}

section {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4ch;
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


section:nth-child(even) {
  background-image: none;
  color: white;
}

#cat {
  position: absolute;
  margin-top: 81vh;
  margin-left: 20vw;
  max-width: 280px;
  max-height: 280px;
}

button {
  position: absolute;
  margin-top: 3vh;
  margin-left: 3vh;
  max-width: 30px;
  max-height: 30px;
  border: 1px;
  background: none;
}

#swap {
  margin-left: 7vh !important;
}

img {
  max-width: 30px;
  max-height: 30px;
}

#playAudio:hover {
  transform: translateY(-2px);
}